* {
    main-bg:            #00000099;
    main-fg:            #ffffffff;
    main-br:            #e06c75ff;
    main-ex:            #98c378ff;
    select-bg:          #ffffffff;
    select-fg:          #000000ff;
    separatorcolor:     transparent;
    border-color:       transparent;
}
